body{
    background-color:lightskyblue;
}
header{
    height: 80px;
    background-color:blue;
    margin-bottom: 55px;
}
.header-logo{
    margin-top: 15px;
    margin-left: 20px;
    color:white;
    font-size: 30px;
    border-bottom:3px solid white;
    float: left;
}
.header-list li{
    list-style: none;
}
.header-list a{
    font-size: 20px;
    margin-top: 38px;
    margin-left: 100px;
    color:white;
    float: left;
}
footer{
    height: 50px;
    background-color: blue;
}
.footer-list li{
    list-style: none;
}
.footer-list a{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 200px;
    color:white;
    float: left;
}
.title{
    background-color:darkred;
    height: 25px;
    border-bottom:5px solid darkblue;
}
.title h1{
    color:white;
    font-size: 20px;
    margin-left: 20px;
}
.contents-list ul{
    background-color:darkgreen;
}
.contents-list li {
    color: white;
}
.contents-list p{
    margin-bottom:30px ;
    font-size: 25px;
}
.contents-list a{
    color:white;
}